---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/global.css';

export interface Props {
	title: string;
	description: string;
	image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image = '/placeholder-social.jpg' } = Astro.props;
---

<script is:inline>
const hue = localStorage.getItem('hue');
if (hue) { document.documentElement.style.setProperty('--hue', hue); }
</script>

<script is:inline>
if ((window.location.hash == "") && (!window.location.href.endsWith("/")))
{
    window.history.replaceState(null, document.title, window.location.href + "/");
}
</script>

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Mali:wght@700&display=swap" rel="stylesheet">

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon/ourlogo-1.1.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title} ★ tryoxiss</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Block people using google DRM -->
<!-- When I self host I will implemenet this on my server and simply not serve
  -- the content so that they can't just disable JavaScript. -->
<script is:inline defer>
console.log("mew")

document.addEventListener('DOMContentLoaded', () => check_google_drm());

function delete_dom()
{
	alert("Your browser contains google DRM. In support of an open web, this website\
simply will not function in any browser that supports this. See the new page for\
more details.");
	console.log("Deleting DOM");
	
	document.body.innerHTML='<h1>Your browser contains Google DRM</h1>"Web Environment Integrity"\
       is a Google euphemism for a "Lets make the web google-only, that is designed to prevent ad-blocking, tracker-blocking,\
       any any use of free and open standards or technologies. In support of an open web, this website does not function with\
       this DRM. Please install a browser such as <a href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a> that\
       respects your freedom and supports ad and tracker blockers, and your freedom.';
}

function check_google_drm()
{
	if (navigator.getEnvironmentIntegrity!==undefined)
	{
		console.warn("Found google DRM (getEnviornmentIntegrity)");
		delete_dom();
	};
}

//if (navigator.getEnvironmentIntegrity===undefined)
//{
//	console.warn("Found google DRM (getEnviornmentIntegrity)");
//	delete_dom();
//};
</script>
